*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Sigmar One', cursive;;
    background-color: black;
}
li {
    list-style-type: none;
}
#container{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url('gold.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.box{
    background-image: url('gold.jpg');
    background-size: cover;
    border: 3px solid black;
    width: 48%;
    height: 85vh;
    padding: 1rem;
}
.left-side{
    clip-path:
        polygon(
            50% 0,
            100% 50%,
            50% 100%,
            0% 50%,
        );
}
a{
    color: black;
    text-decoration: bold;
}
.sendFlowerLink{
    color:white;
}
a:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}
.selected{
    border: 1px black solid;
}
.display-today{
    background-color:black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
.today{
    display: flex;
    align-items: center;
}
.face{
    background-image: url('pika.jpg');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}

input{
    width: 50%;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
button{
    background-color: black;
    color: white;
    width: 2rem;
    height: 2rem;
}
#right-side{
    overflow-y: scroll;
}
#right-side{
    overflow-y: scroll;
}
#detail{
    display: flex;
}

@media screen and (max-width: 400px){
    #container{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 80%;
    }
}